<section class="counter-section facts-two banner-10 parallax-bg bg-fixed overlay light-9" data-stellar-background-ratio="0.5">
      <div class="container">

          <div class="row text-center">
              <div class="col-sm-3 counter-wrap">
                <i class="material-icons brand-color">&#xE90F;</i>
                <span class="timer">545</span>
                <span class="count-description">Novidades</span>
              </div> <!-- /.col-sm-3 -->

              <div class="col-sm-3 counter-wrap">
                <i class="material-icons brand-color">&#xE863;</i>
                <span class="timer">535</span>
                <span class="count-description">Ideas</span>
              </div><!-- /.col-sm-3 -->

              <div class="col-sm-3 counter-wrap">
                <i class="material-icons brand-color">&#xE8F8;</i>
                <span class="timer">1544</span>
                <span class="count-description">Negócios</span>
              </div><!-- /.col-sm-3 -->

              <div class="col-sm-3 counter-wrap">
                <i class="material-icons brand-color">&#xE87E;</i>
                <span class="timer">111</span>
                <span class="count-description">Curtidas</span>
              </div><!-- /.col-sm-3 -->
          </div>
      </div><!-- /.container -->
</section>