<section class="content-promo-box banner padding-top-100 padding-bottom-120 gray-bg" >
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2 class="font-30 text-extrabold mb-30 text-uppercase">Chamada para promoção de Lojista</h2>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit</p>

                <a href="#" class="btn green btn-lg waves-effect waves-light"> Confira agora!</a>
            </div>

        </div>
    </div>
</section>
