<section id="shops" class="section-padding">
            <div class="container">

              <div class="text-center mb-80">
                  <h2 class="section-title text-uppercase">Lojas</h2>
                  <p class="section-sub">Quisque non erat mi. Etiam congue et augue sed tempus. Aenean sed ipsum luctus, scelerisque ipsum nec, iaculis justo. Sed at vestibulum purus, sit amet viverra diam nulla ac nisi rhoncus.</p>
              </div>

                <div class="portfolio-container">
                    <ul class="portfolio-filter brand-filter text-center">
                        <li class="active waves-effect waves-light green" data-group="all">Todas</li>
                        <li class=" waves-effect waves-light" data-group="websites">Moda</li>
                        <li class=" waves-effect waves-light" data-group="branding">Alimentação</li>
                        <li class=" waves-effect waves-light" data-group="marketing">Calçados</li>
                        <li class=" waves-effect waves-light" data-group="photography">Tecnologia</li>
                    </ul>


                    <div class="portfolio portfolio-with-title col-3 gutter mtb-50">

                        <div class="portfolio-item" data-groups='["all", "branding"]'>

                          <div class="card">
                            <div class="card-image waves-effect waves-block waves-light">
                              <img class="activator" src="{{ site.baseurl }}/assets/img/portfolio/portfolio-1.jpg" alt="image">
                            </div>
                            <div class="card-content">
                              <span class="card-title activator">Nome da Loja <i class="fa fa-ellipsis-v right"></i> <i class="fa fa-heart-o right"></i></span>
                              <p><a href="#">Setor</a></p>
                            </div>
                            <div class="card-reveal">
                              <span class="card-title">Nome da Loja <i class="material-icons right">&#xE5CD;</i></span>
                              <p><a href="#">Setor</a></p>
                              <p>Authoritatively grow quality technologies for strategic sources. Dramatically evolve front-end services for functional e-markets. Credibly parallel task multifunctional methods.</p>
                              <a href="#" class="readmore">View full project</a>
                            </div>
                          </div><!-- /.card -->
                        </div><!-- /.portfolio-item -->

                        <div class="portfolio-item" data-groups='["all", "branding", "marketing"]'>

                          <div class="card">
                            <div class="card-image waves-effect waves-block waves-light">
                              <img class="activator" src="{{ site.baseurl }}/assets/img/portfolio/portfolio-2.jpg" alt="image">
                            </div>
                            <div class="card-content">
                              <span class="card-title activator">Nome da Loja <i class="fa fa-ellipsis-v right"></i> <i class="fa fa-heart-o right"></i></span>
                              <p><a href="#">Setor</a></p>
                            </div>
                            <div class="card-reveal">
                              <span class="card-title">Nome da Loja <i class="material-icons right">&#xE5CD;</i></span>
                              <p><a href="#">Setor</a></p>
                              <p>Authoritatively grow quality technologies for strategic sources. Dramatically evolve front-end services for functional e-markets. Credibly parallel task multifunctional methods.</p>
                              <a href="#" class="readmore">View full project</a>
                            </div>
                          </div><!-- /.card -->
                        </div><!-- /.portfolio-item -->

                        <div class="portfolio-item" data-groups='["all", "websites", "branding"]'>

                          <div class="card">
                            <div class="card-image waves-effect waves-block waves-light">
                              <img class="activator" src="{{ site.baseurl }}/assets/img/portfolio/portfolio-3.jpg" alt="image">
                            </div>
                            <div class="card-content">
                              <span class="card-title activator">Nome da Loja <i class="fa fa-ellipsis-v right"></i> <i class="fa fa-heart-o right"></i></span>
                              <p><a href="#">Setor</a></p>
                            </div>
                            <div class="card-reveal">
                              <span class="card-title">Nome da Loja <i class="material-icons right">&#xE5CD;</i></span>
                              <p><a href="#">Setor</a></p>
                              <p>Authoritatively grow quality technologies for strategic sources. Dramatically evolve front-end services for functional e-markets. Credibly parallel task multifunctional methods.</p>
                              <a href="#" class="readmore">View full project</a>
                            </div>
                          </div><!-- /.card -->
                        </div><!-- /.portfolio-item -->

                        <div class="portfolio-item" data-groups='["all", "websites", "photography", "marketing"]'>

                          <div class="card">
                            <div class="card-image waves-effect waves-block waves-light">
                              <img class="activator" src="{{ site.baseurl }}/assets/img/portfolio/portfolio-4.jpg" alt="image">
                            </div>
                            <div class="card-content">
                              <span class="card-title activator">Nome da Loja <i class="fa fa-ellipsis-v right"></i> <i class="fa fa-heart-o right"></i></span>
                              <p><a href="#">Setor</a></p>
                            </div>
                            <div class="card-reveal">
                              <span class="card-title">Nome da Loja <i class="material-icons right">&#xE5CD;</i></span>
                              <p><a href="#">Setor</a></p>
                              <p>Authoritatively grow quality technologies for strategic sources. Dramatically evolve front-end services for functional e-markets. Credibly parallel task multifunctional methods.</p>
                              <a href="#" class="readmore">View full project</a>
                            </div>
                          </div><!-- /.card -->
                        </div><!-- /.portfolio-item -->

                        <div class="portfolio-item" data-groups='["all", "websites",  "photography"]'>

                          <div class="card">
                            <div class="card-image waves-effect waves-block waves-light">
                              <img class="activator" src="{{ site.baseurl }}/assets/img/portfolio/portfolio-5.jpg" alt="image">
                            </div>
                            <div class="card-content">
                              <span class="card-title activator">Nome da Loja <i class="fa fa-ellipsis-v right"></i> <i class="fa fa-heart-o right"></i></span>
                              <p><a href="#">Setor</a></p>
                            </div>
                            <div class="card-reveal">
                              <span class="card-title">Nome da Loja <i class="material-icons right">&#xE5CD;</i></span>
                              <p><a href="#">Setor</a></p>
                              <p>Authoritatively grow quality technologies for strategic sources. Dramatically evolve front-end services for functional e-markets. Credibly parallel task multifunctional methods.</p>
                              <a href="#" class="readmore">View full project</a>
                            </div>
                          </div><!-- /.card -->
                        </div><!-- /.portfolio-item -->

                        <div class="portfolio-item" data-groups='["all", "marketing", "photography"]'>
                          <div class="card">
                            <div class="card-image waves-effect waves-block waves-light">
                              <img class="activator" src="{{ site.baseurl }}/assets/img/portfolio/portfolio-6.jpg" alt="image">
                            </div>
                            <div class="card-content">
                              <span class="card-title activator">Nome da Loja <i class="fa fa-ellipsis-v right"></i> <i class="fa fa-heart-o right"></i></span>
                              <p><a href="#">Setor</a></p>
                            </div>
                            <div class="card-reveal">
                              <span class="card-title">Nome da Loja <i class="material-icons right">&#xE5CD;</i></span>
                              <p><a href="#">Setor</a></p>
                              <p>Authoritatively grow quality technologies for strategic sources. Dramatically evolve front-end services for functional e-markets. Credibly parallel task multifunctional methods.</p>
                              <a href="#" class="readmore">View full project</a>
                            </div>
                          </div><!-- /.card -->
                        </div><!-- /.portfolio-item -->
                    </div><!-- /.portfolio -->

                    <div class="load-more-button text-center">
                      <a class="waves-effect waves-light btn btn-large green"> <i class="fa fa-spinner left"></i> Load More</a>
                    </div>

                </div><!-- portfolio-container -->

            </div><!-- /.container -->
        </section>