<section id="blog" class="section-padding grid-news-hover rounded-category">
    <div class="container">

      <div class="text-center mb-80">
          <h2 class="section-title">Novidades</h2>
          <p class="section-sub">Quisque non erat mi. Etiam congue et augue sed tempus. Aenean sed ipsum luctus, scelerisque ipsum nec, iaculis justo. Sed at vestibulum purus, sit amet viverra diam nulla ac nisi rhoncus.</p>
      </div>

      <div class="row">
        <div class="col-md-4">
            <article class="post-wrapper">

              <div class="thumb-wrapper">
                <a href="#"><img src="{{ site.baseurl }}/assets/img/blog/blog-7.jpg" class="img-responsive" alt="" ></a>
                <div class="posted-in">
                    <a href="#">Item</a>
                </div>
              </div><!-- .post-thumb -->

              <div class="blog-content">

                <div class="hover-overlay green darken-4"></div>

                <header class="entry-header-wrapper">
                  <div class="entry-header">
                    <h2 class="entry-title"><a href="#">Ideas That Moved Us in 2017</a></h2>

                    <div class="entry-meta">
                        <ul class="list-inline">
                            <li>
                                By <a href="#">Admin</a>
                            </li>
                            <li>
                                <a href="#">15 jul 2017</a>
                            </li>
                        </ul>
                    </div><!-- .entry-meta -->
                  </div><!-- /.entry-header -->
                </header><!-- /.entry-header-wrapper -->

                <div class="entry-content">
                  <p>Maecenas varius finibus orci vel dignissim. Nam posuere, magna pellentesque accumsan tincidunt, libero lorem convallis lectus</p>
                </div><!-- .entry-content -->

              </div><!-- /.blog-content -->

            </article><!-- /.post-wrapper -->
        </div><!-- /.col-md-4 -->

        <div class="col-md-4">
            <article class="post-wrapper">

              <div class="thumb-wrapper">
                <a href="#"><img src="{{ site.baseurl }}/assets/img/blog/blog-8.jpg" class="img-responsive" alt="" ></a>
                <div class="posted-in">
                  <a href="#">Marketing</a>
                </div>
              </div><!-- .post-thumb -->

              <div class="blog-content">

                <div class="hover-overlay green darken-4"></div>

                <header class="entry-header-wrapper">
                  <div class="entry-header">
                    <h2 class="entry-title"><a href="#">Ideas That Moved Us in 2017</a></h2>

                    <div class="entry-meta">
                        <ul class="list-inline">
                            <li>
                                By <a href="#">Admin</a>
                            </li>
                            <li>
                                <a href="#">15 jul 2017</a>
                            </li>
                        </ul>
                    </div><!-- .entry-meta -->
                  </div><!-- /.entry-header -->
                </header><!-- /.entry-header-wrapper -->

                <div class="entry-content">
                  <p>Maecenas varius finibus orci vel dignissim. Nam posuere, magna pellentesque accumsan tincidunt, libero lorem convallis lectus</p>
                </div><!-- .entry-content -->

              </div><!-- /.blog-content -->

            </article><!-- /.post-wrapper -->
        </div><!-- /.col-md-4 -->

        <div class="col-md-4">
            <article class="post-wrapper">

              <div class="thumb-wrapper">
                <a href="#"><img src="{{ site.baseurl }}/assets/img/blog/blog-7.jpg" class="img-responsive" alt="" ></a>
                <div class="posted-in">
                  <a href="#">Branding</a>
                </div>
              </div><!-- .post-thumb -->

              <div class="blog-content">

                <div class="hover-overlay green darken-4"></div>

                <header class="entry-header-wrapper">
                  <div class="entry-header">
                    <h2 class="entry-title"><a href="#">Ideas That Moved Us in 2017</a></h2>

                    <div class="entry-meta">
                        <ul class="list-inline">
                            <li>
                                By <a href="#">Admin</a>
                            </li>
                            <li>
                                <a href="#">15 jul 2017</a>
                            </li>
                        </ul>
                    </div><!-- .entry-meta -->
                  </div><!-- /.entry-header -->
                </header><!-- /.entry-header-wrapper -->

                <div class="entry-content">
                  <p>Maecenas varius finibus orci vel dignissim. Nam posuere, magna pellentesque accumsan tincidunt, libero lorem convallis lectus</p>
                </div><!-- .entry-content -->

              </div><!-- /.blog-content -->

            </article><!-- /.post-wrapper -->
        </div><!-- /.col-md-4 -->

      </div><!-- /.row -->



    </div><!-- /.container -->
</section>