<!-- Full Width Border Box -->
        <section id="about" class="section-padding">

            <div class="container">
              <div class="text-center mb-80">
                  <h2 class="section-title">O Shopping Jequitibá</h2>
                  <p class="section-sub">Quisque non erat mi. Etiam congue et augue sed tempus. Aenean sed ipsum luctus, scelerisque ipsum nec, iaculis justo. Sed at vestibulum purus, sit amet viverra diam nulla ac nisi rhoncus.</p>
              </div>
            </div>

            <div class="container-fluid">
              <div class="row no-gutter">
                  <div class="col-md-3">
                      <div class="featured-item border-box hover green-hover">
                          <div class="icon mb-30">
                              <i class="material-icons green-icon">&#xE32A;</i>
                          </div>
                          <div class="desc">
                              <h2>Cum soluta nobis</h2>
                              <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat</p>
                          </div>
                      </div><!-- /.featured-item -->
                  </div><!-- /.col-md-3 -->

                  <div class="col-md-3">
                      <div class="featured-item border-box hover green-hover darken-3">
                          <div class="icon mb-30">
                              <i class="material-icons green-icon">&#xE851;</i>
                          </div>
                          <div class="desc">
                              <h2>Eligendi optio</h2>
                              <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat</p>
                          </div>
                      </div><!-- /.featured-item -->
                  </div><!-- /.col-md-3 -->

                  <div class="col-md-3">
                      <div class="featured-item border-box hover green-hover">
                          <div class="icon mb-30">
                              <i class="material-icons green-icon">&#xE8AF;</i>
                          </div>
                          <div class="desc">
                              <h2>Soluta nobis est</h2>
                              <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat</p>
                          </div>
                      </div><!-- /.featured-item -->
                  </div><!-- /.col-md-3 -->

                  <div class="col-md-3">
                      <div class="featured-item border-box hover green-hover">
                          <div class="icon mb-30">
                              <i class="material-icons green-icon">&#xE91D;</i>
                          </div>
                          <div class="desc">
                              <h2>Optio cumque nihil</h2>
                              <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat</p>
                          </div>
                      </div><!-- /.featured-item -->
                  </div><!-- /.col-md-3 -->
              </div><!-- /.row -->
            </div>
        </section>
        <!-- Full Width Border Box End -->